git+https://github.com/OCA/openupgradelib.git@master
unicodecsv
unidecode
httplib2>=0.7
git+https://github.com/pysimplesoap/pysimplesoap@a330d9c4af1b007fe1436f979ff0b9f66613136e
git+https://github.com/ingadhoc/pyafipws@py3k
git+https://github.com/adhoc-dev/aeroolib@master-fix-ods
git+https://github.com/aeroo/currency2text.git
git+https://github.com/edgewall/genshi@stable/0.7.x
pyOpenSSL
pysftp
icalendar
boto3
websocket-client
pretty_bad_protocol
requests_mock
dropbox
google-api-python-client
bs4
swagger-spec-validator==2.4.3
wheel
phonenumbers
psycopg2-binary
